name: final-data-project
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.11
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - jupyter
  - yfinance
  - black 
  - mypy
  - scikit-learn 